<!-- <div id = "nav">Nav</div> -->
<div class="parallax">
    <div id = "parallax-overlay">
        <p id = "parallax-text">
            Cryptocurrency & Blockchain
                <nav class="nav justify-content-center">
                    <a class="nav-link active textWhite" style = "border-left: solid black 1px" href="../cryptocurrency/0">Bitcoin</a>
                    <a class="nav-link active textWhite" style = "border-left: solid black 1px" href="../cryptocurrency/1">Ethereum</a>
                    <a class="nav-link active textWhite" style = "border-left: solid black 1px" href="../cryptocurrency/2">Ripple</a>
                    <a class="nav-link active textWhite" style = "border-left: solid black 1px; border-right: solid black 1px;" href="../cryptocurrency/3">Litecoin</a>
                    <a class="nav-link active textWhite" style = "border-left: solid black 1px; border-right: solid black 1px;" href="../feedback/">Feedback</a>
                    <a class="nav-link active textWhite" style = "border-left: solid black 1px; border-right: solid black 1px;" href="../chat/">Chat</a>
                </nav>
            </p>
    </div>
</div>

<div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h1 class="feedback-form-title">Send us feedback</h1>
            <form class="feedback-form">
              <div class="form-group">
                <label for="feedback-form-name">Name</label>
                <input type="text" class="form-control" id="feedback-form-name" placeholder="Enter your name">
              </div>
  
              <div class="form-group">
                <label for="feedback-form-email">Email</label>
                <input type="text" class="form-control" id="feedback-form-email" placeholder="Email Address">
              </div>
  
             
              <div class="form-group">
                  <label for="feedback-form-phoneNumber">Phone Number</label>
                  <textarea type="text" placeholder="Enter your phone number"  class="form-control" id="feedback-form-phoneNumber"></textarea>
              </div>

              <div class="form-group">
                  <label for="feedback-form-comment">Comments</label>
                  <textarea type="text" placeholder="Enter your comment, then hit the submit"  class="form-control" id="feedback-form-comment" rows="6"></textarea>
              </div>

              <button type="submit" class="btn btn-default pull-right">Submit</button>


</form>

<div id = "feedback">Feedback Messages</div>
